.header {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.header-stats {
  display: flex;
  justify-content: space-around;
  margin-left: auto;

}

.header-item {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}