.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  margin: 0 auto;
  border-bottom-color: lightgrey;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.list-row:hover {
  background-color: #60887b;
  cursor: pointer;
}


.chart-container {

}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 72px;
  border-color: lightgrey;
  border-width: 1px;


  /* border-style: solid; */
}
